.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  z-index: -1;
}

.section-padding {
  padding: 3em 2em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  overflow-x: hidden;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 100;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  padding: 1em;
  background: none;
  border: none;
}

.nav__brand-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e2e2e;
  text-decoration: none;
}

.nav__brand-title {
  margin-left: .3em;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 4rem;
  text-transform: uppercase;
}

.nav__brand-title span {
  color: #4169E1;
}

.nav__mobile-bars {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__mobile-bars-btn {
  padding: 0.5em 1em;
  margin: .5em;
  background-color: transparent;
  border-color: transparent;
  color: #2e2e2e;
  cursor: pointer;
  z-index: 1000;
}

.nav__mobile-list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 70px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: -1;
}

.nav__mobile-list--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__mobile-list-item {
  display: block;
  width: 50%;
  margin: 1em;
  font-size: 2rem;
  text-align: center;
  position: relative;
  padding: .2em .5em;
  color: #2e2e2e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .5px;
}

.nav__mobile-list-item::before, .nav__mobile-list-item::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 3px solid #4169E1;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav__mobile-list-item::before {
  right: 50%;
}

.nav__mobile-list-item::after {
  left: 50%;
}

.nav__mobile-list-item:hover::before, .nav__mobile-list-item:hover::after {
  width: 50%;
}

.nav__mobile-list-item:first-child {
  margin-top: 3em;
}

.nav__desktop-list {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 300px;
}

.header__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__text-title {
  margin: 1.5em .5em .5em;
  font-size: 3rem;
  font-family: 'Shadows Into Light Two', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__text-title span {
  color: #4169E1;
}

.header__text-info {
  margin: 1em .5em;
  font-size: 1.8rem;
}

.aboutus__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 280px;
  padding: 1em;
  margin-bottom: 3em;
  background-color: #f2f4fd;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px #2e2e2e2e;
          box-shadow: 5px 5px 10px #2e2e2e2e;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.aboutus__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.aboutus__card-ico {
  margin-top: 1em;
}

.aboutus__card-title {
  text-transform: uppercase;
  margin: 1em;
  font-size: 2.2rem;
  color: #4169E1;
}

.squares__box, .squares__box::before {
  position: absolute;
  border-radius: 20%;
  z-index: -20;
}

.squares__box::before {
  content: "";
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.squares .one {
  top: 120px;
  left: 250px;
  width: 200px;
  height: 200px;
  background-color: #4169e115;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.squares .one::before {
  width: 150px;
  height: 150px;
}

.squares .two {
  top: 600px;
  right: 100px;
  width: 100px;
  height: 100px;
  background-color: #00d0eb17;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.squares .three {
  top: 0;
}

@media (min-width: 576px) {
  .aboutus__card {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .nav__mobile-bars {
    display: none;
  }
  .nav__desktop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5em 1em;
    list-style: none;
  }
  .nav__desktop-list-item {
    font-size: 2rem;
    position: relative;
    padding: .2em .5em;
    color: #2e2e2e;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .5px;
  }
  .nav__desktop-list-item::before, .nav__desktop-list-item::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    border-bottom: 3px solid #4169E1;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  .nav__desktop-list-item::before {
    right: 50%;
  }
  .nav__desktop-list-item::after {
    left: 50%;
  }
  .nav__desktop-list-item:hover::before, .nav__desktop-list-item:hover::after {
    width: 50%;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__img {
    width: 50%;
  }
  .header__text-title {
    margin-top: 1em;
    font-size: 3rem;
  }
  .header__text-info {
    font-size: 1.8rem;
  }
  .aboutus__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .aboutus__card {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__img img {
    width: 100%;
  }
  .aboutus__card {
    width: 30%;
  }
}
/*# sourceMappingURL=main.css.map */