.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #333;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.nav__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  padding: 1em;
  color: #fff;
  background: none;
  border: none;
}

.nav__brand-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
}

.nav__brand-title {
  margin-left: .3em;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 4rem;
  text-transform: uppercase;
}

.nav__brand-title span {
  color: #1755e7;
}

.nav__desktop {
  display: none;
}

.nav__mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__mobile-btn {
  padding: 0.5em 1em;
  margin: .5em;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

.nav__mobile-list {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav__mobile-list--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__mobile-list-item {
  font-size: 2.5rem;
  margin: 1em 3em;
  position: relative;
  padding: .2em .5em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav__mobile-list-item::before, .nav__mobile-list-item::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 3px solid #1755e7;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav__mobile-list-item::before {
  right: 50%;
}

.nav__mobile-list-item::after {
  left: 50%;
}

.nav__mobile-list-item:hover::before, .nav__mobile-list-item:hover::after {
  width: 50%;
}

.nav__mobile-list-item:first-child {
  margin-top: 3em;
}

@media (min-width: 768px) {
  .nav__desktop {
    display: block;
  }
  .nav__desktop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5em 1em;
    list-style: none;
  }
  .nav__desktop-list-item {
    font-size: 2.5rem;
  }
  .nav__desktop-list-item a {
    position: relative;
    padding: .2em .5em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .nav__desktop-list-item a::before, .nav__desktop-list-item a::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    border-bottom: 3px solid #1755e7;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  .nav__desktop-list-item a::before {
    right: 50%;
  }
  .nav__desktop-list-item a::after {
    left: 50%;
  }
  .nav__desktop-list-item a:hover::before, .nav__desktop-list-item a:hover::after {
    width: 50%;
  }
  .nav__mobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */