.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow:hidden;
}

.section-heading {
    position: relative;
    margin-bottom: 4em;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index:1;
  }
  
  .section-padding {
    padding: 3.2em 2em;
  }

  .anchor {
    position: relative;
  }
  
  .anchor > a {
    position: absolute;
    left: 0px;
    top: -80px;
  }