.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow:hidden;
}

.section-heading {
    position: relative;
    margin-bottom: 2em;
    font-size: 3rem;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    z-index:-1;
  }
  
  .section-padding {
    padding: 3em 2em;
  }