//COLORS

$main-color: #4169E1;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;


//MIXINS

@mixin navItem {
    position: relative;
    padding: .2em .5em;
    color: $dark;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .5px;
}

@mixin buttonDecoration {
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 0;
        bottom: 0;
        border-bottom: 3px solid $main-color;
        transition: width .3s;
    }

    &::before {
        right: 50%;
    }

    &::after {
        left: 50%;
    }

    &:hover::before,
    &:hover::after {
        width: 50%;
    }
}