@import "./components";
@import "./mixins-colors";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; //10px
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: $pure-white;
    overflow-x: hidden;
}

//NAV

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $pure-white;
    box-shadow: 0 1px 5px #2e2e2e2e;
    z-index: 100;

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__brand {
        display: flex;
        width: 10%;
        padding: 1em;
        background: none;
        border: none;

        &-ico {
            display: flex;
            align-items: center;
            color: $dark;
            text-decoration: none;
        }

        &-title {
            margin-left: .3em;
            font-size: 4rem;
            text-transform: uppercase;

            span {
                color: $main-color;
            }
        }
    }

    &__mobile-bars {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &-btn {
            padding: 0.5em 1em;
            margin: .5em;
            background-color: transparent;
            border-color: transparent;
            color: $dark;
            cursor: pointer;
            z-index: 1000;
        }
    }

    &__mobile-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 70px;
        width: 100%;
        height: 100vh;
        background-color: $pure-white;
        transform: translateX(100%);
        transition: transform 0.5s;
        z-index: -1;

        &--active {
            transform: translateX(0);
        }

        &-item {
            display: block;
            width: 50%;
            margin: 1em;
            font-size: 2rem;
            text-align: center;
            @include navItem;
            @include buttonDecoration;

            &:first-child {
                margin-top: 3em;
            }
        }
    }

    &__desktop-list {
        display: none;
    }
}

//HEADER

.header {
    position: relative;
    height: 100vh;
    width: 100vw;

    &__img {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(2, 21, 79, 0.6954131994594712) 0%, rgba(2, 21, 79, 0.7010154403558299) 100%), url('../img/pexels-photo-4569340.jpeg');
        background-position: center;
        background-size: cover;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $pure-white;
        text-align: center;

        &-title {
            margin: 1.5em .5em .5em;
            font-size: 3rem;
            text-transform: uppercase;
        }

        &-info {
            margin: 1em .5em;
            font-size: 1.8rem;
        }
    }
}

//ABOUTUS

.aboutus {
    .section-heading {
        margin-top: 3em;
        margin-bottom: 2em;

        &::after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 25%;
            height: 3px;
            background-color: $main-color;
        }
    }

    &__heading {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 3em;
        text-align: center;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
        width: 280px;
        padding: 1em;
        background-color: transparent;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.5s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            transform: scale(1.1);
        }

        &-ico {
            margin-top: 1em;
        }

        &-title {
            text-transform: uppercase;
            margin: 1em;
            font-size: 2.2rem;
            color: $main-color;
        }
    }
}


.drive {
    margin-bottom: 2em;

    &__background {
        background-color: $light-white;
        box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    }

    &__box {
        width: 100%;


        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 3em 0 1em;
            height: 250px;

            &-title {
                margin-bottom: 1em;
                text-transform: uppercase;
                font-size: 2.2rem;
                color: $main-color;
            }

            &-text {
                font-size: 1.8rem;
            }
        }


        &-img {
            height: 200px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }


        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 370px;
            margin: 0 1em 0 3em;
            text-align: right;

            &-text {
                margin-bottom: 2em;
                font-size: 1.8rem;
            }

            &-btn {
                width: 220px;
                padding: 0.5em 1em;
                background-color: $light-white;
                border: 2px solid $main-color;
                border-radius: 8px;
                transition: .2s;

                a {
                    font-size: 1.8rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $main-color;
                }

                &:hover {
                    background-color: $main-color;

                    a {
                        color: $pure-white;
                    }
                }
            }
        }
    }
}

//OFFER

.offer {
    padding: 1em .5em;
    padding-bottom: 0;

    &__box {
        margin: 0 .5em 3em .5em;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        overflow: hidden;

        &-img {
            width: 100%;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2em;
            background-color: $light-white;



            &-heading {
                margin-bottom: 1em;
                font-size: 2rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $main-color;

            }
        }
    }
}

//PRICES

.prices {
    margin-top: 5em;
    background: linear-gradient(0deg, rgba(54, 54, 54, 0.8491597322522759) 0%, rgba(219, 219, 219, 0.4009804605435925) 100%), url('../img/fog-1819147_1920.jpg');
    background-position: center;
    background-size: cover;


    &__boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
    }

    &__box {
        width: 100%;
        margin: 0 1em 2em 1em;
        padding: 0.5em 1em;
        text-align: center;
        background-color: $pure-white;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        transition: transform .5s;

        &:hover {
            transform: scale(0.95);
        }

        &-heading {
            margin: 1em;
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        &-line {
            width: 100%;
            height: 2px;
            background-color: $light-white;
        }

        &-segment {
            padding: 1em;

            &-price {
                padding-top: .5em;
                font-size: 2.2rem;
                font-weight: bold;
                color: $main-color;

                span {
                    font-size: 1.5rem;
                    font-weight: normal;

                }
            }

            &-general--grey {
                color: grey;
            }
        }
    }

    &__info {
        margin-bottom: 2em;
        text-align: center;
        font-weight: bold;
        color: white;

        a {
            color: $main-color;
            text-decoration: none;
        }
    }
}

//CONTACT

.contact {
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-heading {
            display: flex;
            font-size: 3.4rem;
            text-transform: uppercase;


            &-title {
                margin-left: .3em;
                font-weight: 300;

                span {
                    color: $main-color;
                }
            }
        }

        &-phone {
            text-decoration: none;
            color: $dark;
            font-size: 2rem;
            font-weight: bold;
            margin-top: 3em;
        }

        &-email {
            margin-top: 2em;
            font-size: 2rem;
        }
    }
}


//----------------------------------//
//MEDIA QUERIES//
//---------------------------------//
@media (min-width:576px) {

    .aboutus {

        &__heading {
            width: 400px;
        }

        &__card {
            width: 450px;
        }
    }
}

@media (min-width:768px) {
    .nav {
        &__mobile-bars {
            display: none;
        }

        &__desktop-list {
            display: flex;
            margin: 0.5em 1em;
            list-style: none;

            &-item {
                font-size: 2rem;
                @include navItem;
                @include buttonDecoration;
            }
        }
    }

    .aboutus {

        .section-heading {
            margin-top: 5em;
        }

        &__heading {
            width: 600px;
        }

        &__cards {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }

        &__card {
            width: 45%;

            &-text {
                height: 200px;
            }
        }
    }

    .drive {

        &__boxes {
            display: flex;
            justify-content: center;
        }

        &__box {
            width: 30%;

            &-left {
                height: 500px;
                margin: 0 1em 0 1em;
                text-align: end;
                transform: skew(-15deg);

                &-title {
                    font-size: 2.5rem;
                }
            }

            &-img {
                height: 500px;
                transform: skew(-15deg);
                overflow: hidden;

                img {
                    object-position: right bottom;
                    transform: skew(15deg) scale(1.6);
                }
            }

            &-right {
                align-items: flex-start;
                height: 500px;
                margin: 0 1em 0 1em;
                text-align: start;
                transform: skew(-15deg);
            }
        }
    }

    .offer {
        padding-right: 1em;


        &__box {
            display: flex;
            width: 100%;
            height: 300px;

            &-img {
                width: 50%;
                height: auto;

                &--right {
                    order: 1;
                }
            }

            &-info {
                width: 50%;

                &-heading {
                    font-size: 2.5rem;
                }

                &-text {

                    font-size: 1.8rem;
                }

            }
        }
    }

    .prices {

        &__boxes {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__box {
            width: 45%;
            min-width: 320px;

        }
    }
}

@media (min-width:992px) {

    .header {
        justify-content: space-between;

        &__img {

            img {
                width: 100%;
            }
        }

        &__text {
            &-title {
                font-size: 3.2rem;
            }
        }
    }

    .aboutus {

        &__card {
            width: 30%;
        }
    }

    .drive {
        &__box {
            &-left {
                height: 400px;
                margin-right: 3em;
            }

            &-img {
                height: 400px;
            }

            &-right {
                height: 400px;
                margin-left: 3em;
            }
        }
    }

    .offer {

        &__box {
            height: 350px;
        }
    }

    .prices {

        &__box {
            width: 30%;
        }
    }
}